*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding: 20pt;
    text-align: center;
}
.container{
    margin-left: 100pt;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2pt;
    background-color: black;
    float: left;
}
.element_con{
    background-color: white;
    border: 2px solid black;
    padding: 75pt;
}
.element_con:hover{
    background-color: lightgray;
}
button{
    font-size: 30pt;
    font-weight: bold;
    padding: 75pt;
    border-radius: 25pt;
}